h1{
    text-decoration: underline;
}

#p1{
    color: blue;
}
span{
    text-decoration: underline;
    color: rgb(252, 126, 0);
}

.bold{
    font-weight: bold;
}
.l{
    text-decoration: underline;
    color: red;
}

.list1{
    color: blue;
    list-style-type: circle;
}

.list2{
    color: blue;
    list-style-type: none;
}





